
<div class="table-responsive">
  <table class="table">
    <tbody>
      <tr *ngFor="let post of posts">
        <div class="card border-primary">
          <div class="card-body">
            <blockquote class="card-blockquote">
              <h2>{{post.title}}</h2>
              <p>
                {{post.content}}
              </p>
              <footer>-
                <cite title="Source Title">{{post.author}}</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>