<div class="table-responsive">

  <table class="table">
    <tbody>
      <tr *ngFor="let post of posts">
        <div *ngIf="_auth.isLoggedIn() && post.public === false" class="card border-success">
          <button *ngIf="_auth.isLoggedIn()" type="button" class="btn btn-outline-primary btn-right">Edit</button>
          <div class="card-body">
            <blockquote class="card-blockquote">
              <h3>{{post.title}}</h3>
              <p>
                {{post.content}}
              </p>
              <footer>
                <cite title="Source Title">{{post.author}}</cite>
              </footer>
            </blockquote>
          </div>
        </div>

        <div *ngIf="post.public === true" class="card border-primary">
          <button *ngIf="_auth.isLoggedIn()" type="button" class="btn btn-outline-primary btn-right">Edit</button>
          <div class="card-body">
            <blockquote class="card-blockquote">
              <h3>{{post.title}}</h3>
              <p>
                {{post.content}}
              </p>
              <footer>
                <cite title="Source Title">{{post.author}}</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>