.btn-right{
    height: 35px;
    right: 5px;
    top: 5px;
    float: right;
    position: absolute;
}

.btn-right2{
    right: 5px;
    position: relative;
}

.border-post{
    margin: 5px;
}


.text-smallheader{
    margin-top: -7px;
    margin-bottom: 8px;
}