<form (submit)="onLoginSubmit()" class="form-inline my-2 my-lg-0">
  <input *ngIf="!_auth.isLoggedIn()" [(ngModel)]="username" name="username" class="form-control mr-sm-2" type="text" placeholder="Username" >
  <input *ngIf="!_auth.isLoggedIn()" [(ngModel)]="password" name="password"  class="form-control mr-sm-2" type="password" placeholder="Password">
  <button *ngIf="!_auth.isLoggedIn()" type="submit" class="btn btn-outline-primary">Login</button>
  <button *ngIf="_auth.isLoggedIn()" (click)="onLogoutClick()" class="btn btn-outline-primary">Logout</button>
</form>
